#spinner {
  background: rgba(11, 11, 11, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.sp-thongbao {
  display: none;
  color: red;
}

.img {
  width: 100%;
}
